<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="TenantId" value="** tenant id **" />
    <add key="VaultName" value="** vault name here **" />
    <add key="VaultLocation" value="** vault location **" />
    <add key="ResourceGroupName" value="** resource group name **" />
    <add key="SubscriptionId" value="** subscription id **" />
    <add key="ApplicationSecret" value="** AD application secret **" />
    <add key="ApplicationId" value="AD application id **" />
  </appSettings>
</configuration>


